<%= render 'layouts/header'%>
<div class="container">
  <div class="row py-5">
    <h1 class="text-center w-100 fw-bold pb-4">PRIVACY POLICY</h1>
        <p>
            Phoenix Insolvency Practitioners Limited (Phoenix Insolvency) is committed to preserving and respecting your privacy
        </p>
        <p>
            Please read the following privacy policy to understand how we use and protect the information that you provide to us
        </p>
        <p>
            This privacy policy will apply to you if you provide your personal information to us, even if you subsequently decide not to proceed.  It is also used by all 
            companies within the Phoenix Insolvency group and our affiliate companies with 
            whom we may share information (see below for further details).  This privacy 
            policy sets out how we will use your personal data to provide our service to you
        </p>
        <p>
            By registering on this site, you consent to the collection, use and transfer of yourinformation under the terms of this policy
        </p>
        <h3>Our Privacy Promise</h3>
        <p>
            We promise:
        </p>
        <ul>
            <li>
                To keep your data safe and private
            </li>
            <li>
                Not to sell your data
            </li>
            <li>
                To give you ways to manage and review your marketing choices at any time.
            </li>
        </ul>
        <h3>What personal information we collect</h3>
        <p>
            The information we collect from you depends on the product or service you 
            apply for, or the service that we provide to you. We will only collect information 
            that we actually need, or where we’re required to collect the information to 
            enable us to perform our legal, regulatory or contractual obligations necessary to
            provide you with the products or services, or where we have your permission.
        </p>
        <p>
            This will likely include the collection of:
        </p>
        <ul>
            <li>
                your personal details (e.g. name, date of birth)
            </li>
            <li>
                address details
            </li>
            <li>
                contact details (e.g. phone number, email)
            </li>
            <li>
                special personal information* (e.g. health information)
            </li>
            <li>
                financial information (e.g. details of your income and expenditure)
            </li>
            <li>
                employment information
            </li>
            <li>
                Information about your creditors
            </li>
            <li>
                information on how you use our website(s) and products and services
            </li>
        </ul>
        <h3>
            Special personal information*
        </h3>
        <p>
            Data protection law defines some personal information as “special categories of 
            data”. This includes information about physical or mental health, sexual life, 
            religious beliefs, race or ethnic origin, political opinions, trade union membership
            or biometric data. This information may be necessary to collect when 
            understanding the reason for your financial circumstances, or where it may help 
            us to provide a better service to you and obtain a better understanding of your 
            financial situation. For example, a period of ill health could have caused you to 
            fall behind with your regular payments to your creditors
        </p>
        <p>
            Where we need to collect and process this type of data about you, by providing 
            this information to us you give your explicit consent for us and any other third 
            party to process this special data as set out in this privacy policy, unless we have
            a legal obligation to process this type of data.
        </p>
        <p>
            Any personal information about you relating to criminal convictions or offences may only be used by us when authorised by law.
        </p>
        <h3>Information about other people</h3>
        <p>
            If you provide personal information about someone else, for example when a 
            joint application is made, you must do so with the permission of the other 
            person. If you enter into a service jointly with another person (for example, a 
            joint Individual Voluntary Arrangement), your personal information and any 
            information about the service provided to you will be shared with the other 
            person.
        </p>
        <p>
            We will use the personal information about the other person in the ways as described in this privacy policy.
        </p>
        <h3>How we collect your personal information</h3>
        <p>
            We may obtain personal information from you in a number of ways:
        </p>
        <ul>
            <li>
                When you make an application or enquiry to us either by email, phone, via our website, by a third party or by any other means
            </li>
            <li>
                By adding reviews or interacting with us using social media such as Twitter or Facebook etc
            </li>
            <li>
                When we may need to obtain up to date information about you to meet our legal or regulatory obligations
            </li>
            <li>
                Information received from a third party, for example a creditor providing 
                information about an account you hold with them, or where you have 
                previously agreed for your information to be shared with us, for example, 
                if you have been introduced to us by another company
            </li>
            <li>
                When you participate in market research
            </li>
            <li>
                Where you have given permission for your information to be provided to us
            </li>
        </ul>
        <h3>How we use your personal information</h3>
        <p>
            We can only use your personal information where it falls into one or more of the following categories:
        </p>
        <ul>
            <li>
                It is necessary to enter into or fulfil a contract we have with you
            </li>
            <li>
                You have provided your consent
            </li>
            <li>
                We have a legal or regulatory obligation to do so
            </li>
            <li>
                It is necessary to carry out a task that is in the public interest
            </li>
            <li>
                It is necessary to protect your vital interests or
            </li>
            <li>
                It is in our legitimate interest to do so and it is not against your rights
            </li>
        </ul>
        <h3>Initial Application/Advice</h3>
        <p>
            Where you make an application or enquiry for one of our products or services 
            we’ll use your information to provide you with appropriate information to 
            recommend a suitable debt solution and refer you to our chosen debt solution 
            partner If you cannot provide this information we may not be able to progress 
            with your application or enquiry
        </p>
        <p>
            We may also use this information to contact you about and process your 
            application, for example, sending you an email, text message or letter to 
            welcome you to our services.
        </p>
        <p>
            We will process the personal data we collect about you for the purposes set out below at Purposes for Processing your Personal Data.
        </p>
        <p>
            After you have made you initial application/enquiry, if you also decide to go 
            ahead with any of the products or services that we offer, the sections below 
            explain how we will also process your data when we provide that particular 
            product(s) or service(s).
        </p>
        <h3>Debt Advice:</h3>
        <p>
            Where we give you advice regarding a insolvency solution, we will process your 
            personal information to administer the service we provide.  This may include 
            contacting you where we may need further information or sending you updates 
            on the progress of the service we provide to you.
        </p>
        <p>
            The information below specifically explains how and why your personal data will 
            be used so that the service can be provided to you. When providing you with 
            debt advice we collect and use your personal information under the lawful basis 
            of our legitimate interest and is necessary to enable us to provide you with the 
            best advice possible.
        </p>
        <h3>What personal data will we need to collect:</h3>
        <p>
            To be able to provide you with advice regarding insolvency solutions we need to collect certain categories of personal data. This will include:
        </p>
        <ul>
            <li>
                Contact details – Your full name, address, contact number, e-mail address etc. This is so we can contact you about and process your enquiry
            </li>
            <li>
                Personal and financial details – Your date of birth, gender, any previous 
                names that you were known by, your living arrangements, employment 
                details, details of any dependants, details of any assets you hold and your 
                payment information. We need this so that we can decide whether an IVA 
                is appropriate for you and so that we can draft and send a proposal to 
                your creditors.  Once you enter into an IVA, we need this information to 
                ensure that we can collect payments and take any changes in 
                circumstances into consideration when administering the IVA.
            </li>
            <li>
                The people you owe money to and your property and assets – creditor 
                details (including the names of your creditors, reference numbers and 
                balances). This is so we fully understand your financial situation and give 
                you personalised advice that’s tailored to you
            </li>
            <li>
                Your Income and expenditure – – Details of your financial position 
                including all sources of income and your household expenditure. This is so 
                we can accurately work out what you can afford to pay towards your debts
                and make sure the solution we recommend is the right one for you
            </li>
            <li>
                Call Recordings, Chat Logs and E-mails: When you contact us by 
                telephone, your call may be recorded for training and monitoring 
                purposes. We also keep any e-mail correspondence and online chat logs to
                help us to manage your IVA.
            </li>
            <li>
                Special personal information – only with your permission and where this is 
                relevant to your financial situation and how a debt solution needs to work 
                for you, or where we have a legal right to do so. With your permission, we 
                may use information from your credit file to confirm certain information, 
                including about your lenders, balances, account numbers, your account, 
                address and insolvency history and details of any county court judgments 
                (CCJ). We will also use this information to confirm your identity and to 
                comply with anti-money laundering legislation.
            </li>
        </ul>
        <h3>Who will the data be shared with?</h3>
        <p>
            We may share your information with our Debt Solution Providers/partners. i.e. 
            IVA companies who provide and / or administer the plan on our behalf. We will 
            only share your information with them if they’ve agreed to keep it confidential.
        </p>
        <p>
            In addition, you information may be shared with:
        </p>
        <ul>
            <li>
                Your Creditors and their Representatives: Your personal data will be 
                shared with your creditors, their agents, debt collectors, bailiffs and 
                solicitors dealing with the debts. This is key to allow us to provide the 
                service we have agreed to provide you and also ensures that we comply 
                with our regulatory obligations.
            </li>
            <li>
                Our regulators, such as the Insolvency Practitioners Association and the 
                Institute of Chartered Accountants for England and Wales, the Information 
                Commissioner’s Office or any other regulatory body or authority may 
                request certain information as part of supervising us. We have a legal or 
                regulatory obligation to provide this.
            </li>
            <li>
                The Insolvency Service: If your IVA is accepted then details about you and 
                your IVA will be recorded on the Insolvency Register which is accessible by
                the public. The information we share includes your name, gender, date of 
                birth and address. We have a legal obligation to supply this information.
            </li>
            <li>
                If you have provided your authority, if we have a legitimate interest to do 
                so or where we may be legally entitled to, we will share information with 
                credit reference agencies (CRAs) to obtain information about your financial
                history or your credit commitments. For further information on how CRAs 
                may use your personal information you can view the Credit Reference 
                Agency Information Notice here or from the three main CRAs – TransUnion
                (formerly Callcredit); Equifax; and Experian.
            </li>
            <li>
                Solicitors: We may from time to time need to instruct solicitors to assist 
                with the administration of your IVA or to assist us with legal, regulatory 
                and contractual obligations.
            </li>
            <li>
                IT Providers: We use third-party software companies to help manage your data.
            </li>
        </ul>
        <p>
            These companies help us to provide our service to you.  We have contracts in 
            place with all providers to ensure that they comply with their data protection 
            obligations and ensure that they have appropriate security measures in place.
        </p>
        <h3>How long will your data be stored for?</h3>
        <p>
            If you continue to be our customer and we give you advice, we will keep a record
            of your personal information to ensure that we provide you with the best service 
            possible and where we’re required to keep your data to meet our legal and 
            regulatory obligations. This will normally be kept for at least 6 years, starting 
            from the date when we are no longer providing you with a service. Telephone 
            calls will be retained for at least 6 years from the date the call was made.
        </p>
        <p>
            If you do not go ahead with any product or service offered by us, your personal 
            information will normally be deleted after 2 years (except for any recorded 
            telephone calls) unless we have another reason to keep your personal 
            information, for example, if you have given your consent to receive marketing or 
            promotional messages from us.
        </p>
        <p>
            After this time, we will delete the information or anonymise the data so that it cannot be linked back to you.
        </p>
        <h3>Other Purposes for processing your Personal Data</h3>
        <h4>Websites and marketing</h4>
        <p>
            To help us understand you better and provide you with information about other 
            products which may be suitable and relevant, we will use your personal 
            information to create a profile of you and your circumstances. This allows us to 
            provide more relevant, accurate and tailored services to you. For example, we 
            may assess your income and expenditure to determine whether you would be 
            eligible for a debt solution through us. We believe we have a legitimate interest 
            to do this and that it is not against your rights.
        </p>
        <p>
            However, if you don’t want us to profile your personal information this way, to 
            then better enable us to tailor any marketing communications to you, you can 
            contact us to let us know that you wish for your personal data not to be used in 
            this way.
        </p>
        <h4>Reviews and Market Research</h4>
        <p>
            Where we have a copy of your personal information we may contact you to ask 
            you to provide a review about the services you’ve received or where we are 
            carrying out market research which may help us design future products and 
            services or to help improve our current services. Although this information would
            really help us, you wouldn’t be required to provide us with this information 
            unless you were happy to. We consider that this is in our legitimate interests to 
            contact you in this way for market research purposes.
        </p>
        <h4>Legal or Regulatory Obligation</h4>
        <p>
            We are required to process your personal information where we have a legal or 
            regulatory obligation to do so, for example, to adhere to anti-money laundering 
            or our regulatory obligations.
        </p>
        <h4>Responding to complaints or enquiries</h4>
        <p>
            If you make an enquiry or complaint with us, we will use your personal 
            information to investigate the complaint and deal with your enquiry. We have a 
            legal and regulatory obligation to deal with your complaint appropriately.
        </p>
        <h4>Internal Analysis</h4>
        <p>
            As part of our legitimate interest to develop our business and our products we 
            will use your personal information to assess our performance as a business and 
            for statistical analysis. We will use your personal information to assess our 
            performance as a business and for statistical analysis. We will use as little 
            personal data as we can to achieve this
        </p>
        <h3>Who do we share your information with?</h3>
        <p>
            We may also share your personal information with the following organisations:
        </p>
        <ul>
            <li>
                IT Service Providers who provide IT platforms or other IT services
            </li>
            <li>
                Advertisers and social media companies such as Facebook, Google and 
                Twitter for our social media accounts or where we can contact you using 
                your social media account
            </li>
            <li>
                Payment Service companies that process transactions for us (e.g. Direct Debits and card transactions)
            </li>
            <li>
                Communication providers (e.g. telephone line providers, and email and text service providers.
            </li>
            <li>
                This Party administrators who provide ongoing support with the administration of your plan
            </li>
            <li>
                Third parties who may have introduced you to our services
            </li>
        </ul>
        <p>
            We may also share your personal information where we have your consent to do 
            so or where we’re required to do so under a legal or regulatory obligation or 
            court order, such as the police, local authorities or the courts
        </p>
        <h3>
            Fraud Prevention and Law Enforcement Agencies
        </h3>
        <p>
            The personal information we have collected from you may be shared with law 
            enforcement agencies and fraud prevention agencies who will use it to prevent 
            fraud, money-laundering and terrorist financing and to verify your identity. If 
            fraud is detected, you could be refused certain services, finance or employment. 
            Further details of how your information is used by us and these fraud prevention 
            agencies, and your data protection rights, can be found by contacting us at the 
            address above.
        </p>
        <h4>Social Media</h4>
        <p>
            We use publicly available social media platforms to promote our services, to 
            provide updates and to share any news and promotional updates. We may 
            collect personal information from these social media platforms, for example, if 
            you post a message on our Facebook page. By providing any of your information 
            to us through these platforms you should be aware that:
        </p>
        <ul>
            <li>
                The social media web pages are publicly available and you must not 
                provide any personal or sensitive information on our pages that are 
                accessible to the public, such as your account information. We may ask 
                you for your account information via a private message to identify you and
                to service any request you make; and
            </li>
            <li>
                Each social media platform will process any personal information you 
                provide through the platform and will be processed in accordance with its 
                own privacy policy. The privacy policies are available to view on each 
                social media platform.
            </li>
        </ul>
        <h3>Sharing your information outside of the EEA</h3>
        <p>
            We will only share your personal information outside the European Economic 
            Area (EEA), where we have your consent; to comply with a legal obligation; or 
            where we work with a business partner to enable us to provide you with our 
            services, and they process information outside of the EEA.
        </p>
        <p>
            If we do share your information outside of the EEA we will make sure that it is 
            protected in the same way as if it was being used in the EEA to ensure 
            appropriate safeguards are in place. This may include putting in place a contract 
            with the business partner that means they must protect the personal data to the 
            same standards as the EEA (this may include defined model clauses), or only 
            share the data to a business partner in a non-EEA country where the privacy laws
            provide the same protection as within the EEA or where they are part of a 
            Privacy Shield.
        </p>
        <p>
            More information on this can be found on the European Commission Justice Website.
        </p>
        <h3>Security</h3>
        <p>
            We take the protection of personal information very seriously and we will 
            maintain appropriate measures to maintain the confidentiality, integrity and 
            availability of the information you have provided. Such measures include:
        </p>
        <ul>
            <li>
                Company security policies and standards
            </li>
            <li>
                Staff security awareness
            </li>
            <li>
                Role-based and biometric access controls to prevent unauthorised access to the information
            </li>
            <li>
                Encryption and anonymisation technology
            </li>
            <li>
                Anti-malware technologies
            </li>
            <li>
                Security monitoring
            </li>
            <li>
                Security testing
            </li>
            <li>
                Secure archiving and deletion
            </li>
            <li>
                Compliance with industry regulation and legislation
            </li>
        </ul>
        <h4>How we may contact you about the products and services we provide to you</h4>
        <p>
            To help us keep you up to date about the products and services that we provide 
            to you, and to ensure that you’re kept fully informed, we may contact you by 
            letter, telephone, email, text message, push notifications, social media or may 
            send you messages by any online customer platforms or other electronic means.
        </p>
        <p>
            If you start an application for a product or service through us we will attempt to 
            contact you shortly after if you were unable to complete your application for 
            whatever reason.
        </p>
        <p>
            If you do not want to be contacted in a particular way then you can request this 
            at any time, but if we are providing a service to you, we do need to be able to 
            send you communications. This can often be due to a legal or regulatory 
            requirement.
        </p>
        <p>
            It is important that you keep us up to date when you change your contact details to ensure that we use your up to date contact information.
        </p>
        <h3>Recording Calls</h3>
        <p>
            We record any telephone calls you make to us or we make to you or any other 
            third party. This is for training, monitoring and quality purposes and to meet our 
            legal and regulatory obligations. Some telephone calls may be observed by staff 
            for training and development purposes.
        </p>
        <p>
            We may keep a copy of the telephone calls for up to 6 years from the date the telephone call was made.
        </p>
        <h3>YOUR RIGHTS</h3>
        <h4>Access to your personal information</h4>
        <p>
            You have the right to request from us a copy of the personal information that we 
            may hold about you. This is often called a “Data Subject Access Request”. You 
            can request this information by contacting us as set out below. We won’t charge 
            you to provide you with this information.
        </p>
        <p>
            Before providing this information to you or to another person or company where 
            you have requested this personal information to be sent to, we may ask for proof
            of identity or ask sufficient questions to enable us to locate the information and 
            ensure that we’re only providing it were you have given your agreement.
        </p>
        <h4>Right to have your personal information corrected</h4>
        <p>
            If the personal information we hold about you is incorrect you have the right to 
request that we correct this
        </p>
        <h4>Right to stop or limit the processing of the data we carry out</h4>
        <p>
            You may request that your personal information is deleted or that we stop 
            processing the information if we’re no longer entitled to process it. There may be
            occasions where we are unable to delete the data due to our legal or regulatory 
            obligations. We will however discuss this with you if you request for your 
            information to be deleted.
        </p>
        <h4>Portability</h4>
        <p>
            In some cases you may be able to request for your information to be provided to 
            you or to another company in a format that can be processed electronically by 
            you or the other company. If you want to request this you’ll need to contact us.
        </p>
        <h3>CONTACT US</h3>
        <p>
            f you have any questions or queries about how we use your personal information you can contact us or our Data Protection Officer using the address:
        </p>
        <p>
            Will Fletcher, Earl Mill, Dowry Street, Oldham, OL8 2PF
        </p>
        <h3>Updates to this privacy policy</h3>
        <p>
            Any updates to this privacy policy will be found on this page. If we make any 
            important or significant changes to the way we may collect and use your 
            personal information we will endeavour to notify you of this change.
        </p>
    </div>
</div>
<div class="bg-light-blu pt-4">
    <div class="container">
        <div class="row pb-3">
            <div class="col-md-6 text-center mb-4 mb-md-0">
                <div class="row align-items-center">
                    <div class="col-md-12">                     
                        <p class="text-orng text-md-start text-center mb-0 fw-light">© 2022 Debtclear.today</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center align-self-center">
                <p class="text-orng text-center w-100 mb-0">
                    <a target="_blank" class="text-decoration-none text-orng" href="/home-privacy">Privacy Policy</a> | <a target="_blank" class="text-decoration-none text-orng" href="/home-cookies">Cookies Policy</a>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <p class="small mb-1">
                The Debt Help Group is a trading style of Phoenix Insolvency Practitioners limited, Registered address Earl Mill, Dowry Street, Oldham, OL8 2PF Company Registered number: 12437227, Data protection Act registration number ZA755265
            </p>
            <p>
            Catherine Varney is authorised to act as an Insolvency Practitioner in the UK by the Institute of Chartered Accountants England and Wales
            </p>
        </div>
    </div>
</div>
