
<%= render 'layouts/header'%>
<div class="container">
    <div class="row py-5">
        <h1 class="pb-4 fw-bold text-center w-100">Cookies Policy</h1>
        <p>
            When using this website, some information may be collected automatically using
            ‘cookies’. These are small text files that facilitate the processing of your data and
            enable us to analyse how the website is being used. Cookies can be temporary or
            permanent.
        </p>
        <p>
            Temporary cookies form part of the security process while you are using the 
            website; permanent cookies identify the link you used to find our website, check 
            your browser so that we can make sure that our website and services work well 
            with your computer and to help us monitor traffic on our website.
        </p>
        <h3>What are cookies?</h3>
        <p>
            Cookies are small text files that are placed in your computer or mobile device 
            when you visit a website. These are small text files that facilitate the processing 
            of your data and enable us to analyse how the website is being used.
        </p>
        <p>
            There are two types of cookies, in regard to its life span:
        </p>
        <ul>
            <li>
                Temporary Cookies: these cookies form part of the security process and expire when you close your web browser
            </li>
            <li>
                Permanent Cookies: these cookies stay in your device for a longer period of time or until you manually delete them
            </li>
        </ul>
        <p>
            In regard to the Entity that sets the cookies, there are two types of cookies:
        </p>
        <ul>
            <li>
                First-party Cookies: these are cookies set by the website that you are visiting, either by us or by a third-party at our request
            </li>
            <li>
                Third-party Cookies: these are cookies set by a third-party rather than the provider of the website that you are visiting
            </li>
        </ul>
        <h3>Why are cookies used?</h3>
        <p>
            They help visitors. Cookies allow sites to do things like provide personalised 
            content and remember their log-in details and settings. You can turn them off – 
            this won’t stop a website from working, but it might mean it won’t work as well 
            as it could, or that you have to do the same thing more than once.
        </p>
        <p>
            They help website owners. Cookies tell website owners things like, what search 
            engine a visitor used to find the website, how often they’ve visited it, how long 
            they’ve spent on it, and so on.  Except for essential cookies, all cookies will 
            expire after 10 years.
        </p>
        <h3>Disabling/Enabling cookies</h3>
        <p>
            You have the ability to accept or decline cookies by modifying the settings on 
            your. Please remember though that disabling certain cookies may affect the 
            functionality of our website
        </p>
        <p>
            Further information on the use of and managing cookies can be found at allaboutcookies.org
        </p>
    </div>
</div>
<div class="bg-light-blu pt-4">
    <div class="container">
        <div class="row pb-3">
            <div class="col-md-6 text-center mb-4 mb-md-0">
                <div class="row align-items-center">
                    <div class="col-md-12">                     
                        <p class="text-orng text-md-start text-center mb-0 fw-light">© 2022 Debtclear.today</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center align-self-center">
                <p class="text-orng text-center w-100 mb-0">
                    <a target="_blank" class="text-decoration-none text-orng" href="/home-privacy">Privacy Policy</a> | <a target="_blank" class="text-decoration-none text-orng" href="/home-cookies">Cookies Policy</a>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <p class="small mb-1">
                The Debt Help Group is a trading style of Phoenix Insolvency Practitioners limited, Registered address Earl Mill, Dowry Street, Oldham, OL8 2PF Company Registered number: 12437227, Data protection Act registration number ZA755265
            </p>
            <p>
            Catherine Varney is authorised to act as an Insolvency Practitioner in the UK by the Institute of Chartered Accountants England and Wales
            </p>
        </div>
    </div>
</div>
