<%= javascript_pack_tag 'home', 'data-turbolinks-track': 'reload', defer: true %>
<%= render 'layouts/home-step-form'%>
<div class="bg-light-blu pt-4">
    <div class="container">
        <div class="row pb-3">
            <div class="col-md-6 text-center mb-4 mb-md-0">
                <div class="row align-items-center">
                    <div class="col-md-12">                     
                        <p class="text-orng text-md-start text-center mb-0 fw-light">© 2022 Debtclear.today</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center align-self-center">
                <p class="text-orng text-center w-100 mb-0">
                    <a target="_blank" class="text-decoration-none text-orng" href="/terms-and-conditions">Terms &amp; Conditions</a> | <a target="_blank" class="text-decoration-none text-orng" href="/home-privacy">Privacy Policy</a> | <a target="_blank" class="text-decoration-none text-orng" href="/home-cookies">Cookies Policy</a>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <p class="small mb-1">
                The Debt Help Group is a trading style of Phoenix Insolvency Practitioners limited, Registered address Earl Mill, Dowry Street, Oldham, OL8 2PF Company Registered number: 12437227, Data protection Act registration number ZA755265
            </p>
            <p>
            Catherine Varney is authorised to act as an Insolvency Practitioner in the UK by the Institute of Chartered Accountants England and Wales
            </p>
        </div>
    </div>
</div>








