<%= render 'layouts/header'%>

<div class="container">
	<div class="row py-5">
		<h5 class="fw-bold mb-2 w-100">Consent for Collection, Use and Disclosure</h5>
		<p>
		Your use of debtreport.org site and/or your registration for debtreport.org  products and services constitute your consent to the terms of this Privacy Policy. If you do not agree to the terms of this Privacy Policy, please do not use debtreport.org site. A customer may withdraw his or her consent for collection, use and disclosure at any time by contacting us through the web form.
		</p>
		<h5 class="fw-bold mb-2 w-100">Accountability</h5>
		<p>
		debtreport.org collects, at the time of your registration and your sign-on to its web site, certain personal information (information that personally identifies you) including but not limited to your name, email address, home or work address, telephone number, and information about your computer hardware and software (e.g., IP address, operating system, browser type, domain name, URL, access times, and referring web site addresses).
		</p>
	</div>
</div>
