<div class="container">
	<div class="row align-items-center justify-content-center">
		<a class="text-center mt-3" href="/" ><%= image_tag('logo.png', class: 'logo-img header-logo', style: "width: 14em")%></a>
	</div>
</div>
<div class="container">
	<div class="row py-5">
		<h5 class="fw-bold mb-2 w-100">Consent for Collection, Use and Disclosure</h5>
		<p>
		Your use of debtreport.org site and/or your registration for debtreport.org  products and services constitute your consent to the terms of this Privacy Policy. If you do not agree to the terms of this Privacy Policy, please do not use debtreport.org site. A customer may withdraw his or her consent for collection, use and disclosure at any time by contacting us through the web form.
		</p>
		<h5 class="fw-bold mb-2 w-100">Accountability</h5>
		<p>
		debtreport.org collects, at the time of your registration and your sign-on to its web site, certain personal information (information that personally identifies you) including but not limited to your name, email address, home or work address, telephone number, and information about your computer hardware and software (e.g., IP address, operating system, browser type, domain name, URL, access times, and referring web site addresses).
		</p>
		<p>
			Purposes for collecting personal information
		</p>
		<p>
			debtreport.org collects and uses personal information for the following Identified Purposes:
		</p>
		<ul style="list-style-type: lower-alpha;">
			<li>To understand customer needs regarding debtreport.org services;</li>
			<li>To develop and provide our web site and our products and services for our customers;</li>
			<li>To fulfill your requests for products, services or information;</li>
			<li>To communicate with customers and site visitors, when necessary, and to inform customers of upgrades, as well as of other products and services available from debtreport.org, its partners and third parties;</li>
			<li>To comply with any applicable law, regulation, legal process or government request;</li>
			<li>To respond to a legitimate claim, or to address our reasonable belief, that you are violating the rights of any third party or any of the agreements or policies that govern your use of debtreport.org site or any debtreport.org product or service;</li>
			<li>To protect the services, products or rights of debtreport.org, including but not limited to the security or integrity of debtreport.org site;</li>
			<li>Debtreport.org  also uses personal information in an aggregate form (i.e., not individually attributable to you) for its business analysis, operational, marketing and other promotional purposes. If we hire other companies to provide some products or services on our behalf, then we will only provide those companies the personal information they need for the Identified Purposes, and we will limit their rights to use and further disclose your personal information as appropriate in the course of their work for us.</li>
		</ul>

		<h5 class="fw-bold mb-2 w-100">Limiting the collection of personal information</h5>
		<p>
		debtreport.org  limits its collection of personal information to only that information which is necessary for the Identified Purposes. debtreport.org does not direct its site to, nor does it knowingly collect any personal information from children under the age of thirteen..
		</p>

		<h5 class="fw-bold mb-2 w-100">Disclosure, processing and retention</h5>
		<p>
		debtreport.org does not sell, rent or disclose your personal information to anyone else, except:
		</p>
		<ul style="list-style-type: lower-alpha;">
			<li>To someone you have designated to act as your agent, for one or more of the Identified Purposes</li>
			<li>To debtreport.org employees, independent contractors, subsidiaries, consultants, business associates, service providers, suppliers and agents, acting on debtreport.org behalf for any of the Identified Purposes;</li>
			<li>The IVA and debt companies that partner with debtreport.org</li>
			<li>In addition, as we continue to develop our business, we may sell or buy other businesses or entities, or we may merge with another company. In such transactions, personal information may be one of the transferred business assets. Also, in the event that debtreport.org or substantially all of its assets are acquired, your personal information may be one of the transferred assets. Your information may be stored and processed in the U.K., or in any other country in which debtreport.org or its subsidiaries or agents maintain facilities. By using this web site, you consent to any such transfer of information outside of your country. After your account becomes inactive (that is, if you request to be removed from our database), debtreport.org will keep your personal information in its archives. Your information will then be used only as necessary for tax reasons or to prove debtreport.org compliance with any applicable law.</li>
		</ul>
		<h5 class="fw-bold mb-2 w-100">Accuracy of personal information</h5>
		<p>
		debtreport.org will use reasonable efforts to keep customer personal information accurate for the Identified Purposes, and for minimizing the possibility of making inappropriate customer decisions based on such information. Customers are responsible for informing debtreport.org about changes to their personal information.
		</p>
		<h5 class="fw-bold mb-2 w-100">Security</h5>
		<p>
		debtreport.org will use reasonable efforts to protect customers personal information.
		</p>
		<h5 class="fw-bold mb-2 w-100">Access to personal information</h5>
		<p>
		The Act gives you the right to access information held about you. Your right of access can be exercised in accordance with the Act. Any access request may be subject to a fee of $10 to meet our costs in providing you with details of the information we hold about you.
		</p>
		<h5 class="fw-bold mb-2 w-100">General</h5>
		<p>
		If debtreport.org is not able to provide access to some aspect of a customers personal information, it will provide reasons for denying access such as; that by doing so would likely reveal personal information about a third party, or that it is confidential commercial information or attorney-client privileged communications, or that the information relates to a breach of an agreement or a contravention of law, or that its disclosure could reasonably be expected to threaten the life or security of another individual.
		</p>
		<p class="py-2">
		Customers have the right to request that inaccurate or incomplete information be amended as appropriate, by contacting debtreport.org as described above. debtreport.org will promptly correct such personal information.
		</p>
	</div>
</div>
