<div class="container">
	<div class="row justify-content-center align-items-center my-md-5 pt-5 ">
		<div class="col-md-8">
			<div class="rounded-3 bg-white shadow p-4 text-center">
				<%= image_tag('check.gif', class: 'w-25 py-3')%>
				<h1 class="fw-bold text-orng my-4 text-center">Thanks!</h1>
				<p class="text-center">we have successfully received your request one of our agent will be in contact with you shortly.</p>
			</div>
		</div>
	</div>
</div>