<div class="container">
	<div class="row align-items-center justify-content-center">
		<a class="text-center mt-3" href="/" ><%= image_tag('logo.png', class: 'logo-img header-logo', style: "width: 14em")%></a>
	</div>
</div>
<div class="container">
	<div class="row py-5">
		<h1 class="fw-bold mb-md-5 mb-3 w-100 text-center">
			IMPORTANT
		</h1>
		<p>
		Please note that our Terms and Conditions may be changed at any time according to our sole discretion, without notice to the User. You agree to review the agreement periodically to be aware of such modifications and your continued access or use of the site shall be deemed your conclusive acceptance of the modified agreement. Any changes made to these terms will become effective when posted on the debtreport.org Website at debtreport.org. Before accessing or using the services offered on the Website, please read carefully the following terms and Service contained in this Website. These terms govern your access to and use of the Website and any videos, software, programs, sweepstakes, services, tools, materials, or other information available through the Website or used in connection there with (collectively, the "Service"). debtreport.org is willing to license and allow the use of this Website and/or the Service only on the condition that you accept and agree to all of the terms and conditions contained therein. By using the Website, you therefore agree to be bound by the terms and conditions set forth below. If you do not wish to be bound by these terms and conditions, you are not granted the permission to access or otherwise use the Website, and you are instructed to exit the Website immediately.
		</p>
	
	</div>
	<div class="row py-2">
		<h1 class="fw-bold mb-md-5 mb-3 w-100 text-center">
		THE SERVICE
		</h1>
		<p>
		debtreport.org introduces users to IVA services. We do not take responsibility for any relationships established with the third parties after the introduction
		</p>
	
	</div>
</div>
