.text-orng{
	color:  #fa9700 !important;
}
.fs-55{
	font-size: 60px !important;
}
.bg-light-blu{
	background-color: aliceblue !important;
}
.logo-img{
	width: 100px;
  height: 65px;
}


#debt-main{
  .omForm-step__header-congrats{
    font-size: 29px !important;
  }
  .omForm-step{
    min-height: auto !important;
  }
 .fs-49{
    font-size: 49px !important;
  }
  .bg-color-light{
    background-color: #ffffffa1;
  }
	font-family: 'Montserrat', sans-serif !important;
	.display-none{
		display: none;
	}
  .loader-div{
    position: absolute;
    right: 35%;
    bottom: 35px;
  }
  .loader-img{
    width: 30px;
    height: 30px;
  }
	// form css
	.w-radio{
    width: 33%;
  }
  .input-energy{
    position: absolute;
    width: 114px;
    height: 51px;
    left: 5px;
    top: 0px;
  }
  .input-radio{
    background-color: white;
    border: 3px solid transparent;
    min-width: 160px;
    margin-bottom: 25px;
  }
  .input-radio:hover{
    border: 3px solid #fa9700;
  }
  input:hover ~ .input-radio{
    border: 3px solid #fa9700;
  }
  .text-label{
    font-size: 12px;
    font-weight: 600;
  }
  input:checked ~ label p{
    color: white;
  }
  .cursor-p{
    cursor: pointer;
  }
  .opacity-0{
    opacity: 0;
  }

  /*checkbox*/
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: block;
    opacity: 0;
    z-index: 2;
    position: absolute;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: #aba1f8; color: #FFFFFF;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "No";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 22px;
    height: 22px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

  input.valid ~ .validate.success {
    display: inline-block;
  }

  input.valid ~ .validate.error {
    display: none;
  }

  input.error ~ .validate.error {
    display: inline-block;
  }

  input.error ~ .validate.success {
    display: none;
  }

  .validate.success{
    display: none;
    color: #4CAF50 !important;
    position: relative;
    float: right;
    font-size: 25px;
    margin-top: -31px;
    right: 6px;
  }

  .validate.error{
    display: none;
    color: red !important;
    position: relative;
    float: right;
    font-size: 25px;
    margin-top: -31px;
    right: 6px;
  }

  label.error {
    color: red;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
  }

  input.valid ~ .validate.success {
    display: inline-block;
  }

  input.valid ~ .validate.error {
    display: none;
  }

  input.error ~ .validate.error {
    display: inline-block;
  }

  input.error ~ .validate.success {
    display: none;
  }

  input.valid{
    border: 2px solid #28a745 !important;
  }
  select.valid{
    border: 2px solid #28a745 !important;
    background-color: #e7f0fe;
  }
  .h-60{
  	height: 50px;
  }
  input.error {
    border: 2px solid red !important;
  }
  // end form
	.bg-header{
		font-family: 'Roboto Slab', serif !important;
		background-image: asset-url("debt-bg.png");
		background-position: left;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 500px;
	}
	.font-montserat{
		font-family: 'Montserrat', sans-serif !important;
	}
	.img-div{
		height: 200px;
		width: 100%;
	}
	.steps-div{
		min-height: 362px !important;
	}
	.img-check{
		width: 30px;
	}
	.rounded-3 {
    border-radius: 0.8rem !important;
	}
	.rounded-top {
    border-top-left-radius: 0.8rem !important;
    border-top-right-radius: 0.8rem !important;
	}
	.shadow-lg {
    box-shadow: 0 4rem 6rem #2726252e !important;
	}
	.text-orng{
		color: #033e5a !important;
	}
	.fs-55{
		font-size: 60px !important;
	}
	.w-40{
		width: 40% !important;
	}
	.min-height{
		min-height: 400px;
	}
	.shadow {
	  box-shadow: 0 0.5rem 1rem #6b96c766 !important;
	}
	.img-hand{
		width: 30px;
	}
	.bg-light-head{
		background-color: #defffc4d !important;
		border: 3px solid white !important;
	}
	.text-blu{
		color:  #fa9700;
	}
	.text-green{
		color: #198754;
		font-size: 26px;
	}
	.bg-green{
		background-color: #06decea1 !important;
	}
	.detail-box {
    background-color: #ffffff00;
    color: #fa9700 !important;
    padding: 8px 0;
	}
	.btn-blue{
		background-color: #fa9700 !important;
		border: 2px solid #fa9700 !important;
		font-size: 22px !important;
		color: white !important;
		font-weight: 600;
		&:hover{
			background-color: transparent !important;
			color: #fa9700 !important;
		}
	}
	.btn-purple {
    background-color: #fa9700 !important;
    border: 2px solid #fa9700 !important;
    font-size: 22px !important;
    color: white !important;
    font-weight: 500;
    width: 37%;
	}
	.btn-purple:hover, .btn-purple:focus {
	  box-shadow: 0 0 0 2px #f4d1f2, 0 0 0 3px #fa9700;
	}
	.fw-100{
		font-weight: 100 !important;
	}
	.modal-content{
		border-radius: 1rem !important;
	}

	.findAddress-btn {
    position: absolute;
    right: 0px;
    top: 30px;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
	}
	.property{
		height: 52px !important;
    border: 2px solid #ced4da00;
    border-radius: 0.5rem !important;
	}
	.min-h-form{
		min-height: 500px;
	}
	.error {
    font-size: 13px;
    font-weight: 300;
	}
	.form-group {
    margin-bottom: 1rem;
	}
	.form-label{
		font-weight: 600;
		color: #fa9700;
	}

	/*form styles*/
	#msform {
    text-align: center;
    position: relative;
	}

	.bg-light-color{
		background-color: #ffffffbf;
	}

	#msform fieldset {
    background: #ffffff00;
    border: 0 none;
    border-radius: 0px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    position: relative;
	}

	input:checked ~ label {
    border-color: #019421 !important;
	}
	.onoffswitch-inner:before {
    background-color: #019421;
	}

	/*Hide all except first fieldset*/
	#msform fieldset:not(:first-of-type) {
	  display: none;
	}
	#msform{
		::placeholder {
		  color: #bcc2c8;
		  opacity: 1; /* Firefox */
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		 color: #bcc2c8;
		}

		::-ms-input-placeholder { /* Microsoft Edge */
		 color: #bcc2c8;
		}
	}
	/*inputs*/
	#msform input, #msform textarea {
    padding: 15px;
    border: 2px solid transparent;
    background-color: aliceblue;
    border-radius: 8px !important;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif  !important;
    color: #2C3E50;
    font-size: 13px;
	}

	#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #fa9700;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
	}

	/*buttons*/
	#msform .action-button {
    width: 140px;
    background: #fa9700;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
	}

	#msform .action-button:hover, #msform .action-button:focus {
	  box-shadow: 0 0 0 2px white, 0 0 0 3px #fa9700;
	}

	#msform .action-button-previous {
    width: 140px;
    background: #fa9700ad;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
	}

	#msform .action-button-previous:hover, #msform .action-button-previous:focus {
	  box-shadow: 0 0 0 2px white, 0 0 0 3px #fa9700ad;
	}

	/*headings*/
	.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
	}

	.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
	}
	.accept-font{
		font-family: 'Stardos+Stencil', sans-serif;
    font-weight: 300;
	}

	/*progressbar*/
	#progressbar {
    overflow: hidden;
    counter-reset: step;
	}
	.progress {
    background-color: #f0f8ff;
    border-radius: 1.25rem !important;
    border: 1px solid #fa9700 !important;
    height: 25px !important;
	}
	.progress-percent{
		color: #fa9700;
	}
	.bg-grcolor{
		background-image: linear-gradient(to left, #fa9700, #00b3dc);
		height: 100%;
	}
	.rounded-right {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
	}
	.btn-success {
    box-shadow: none !important;
    height: 50px !important;
	}
	#progressbar li {
    list-style-type: none;
    color: #2c3e50;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
	}

	#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: #cccccc;
    border-radius: 25px;
    margin: 0 auto 10px auto;
	}

	/*progressbar connectors*/
	#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #cccccc;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
	}

	#progressbar li:first-child:after {
    content: none;
	}

	#progressbar li.active:before, #progressbar li.active:after {
    background: #fa9700;
    color: white;
	}
	.font-border{
	  color: #fa9700 !important;
	  -webkit-text-stroke-width: 0.5px !important;
	  -webkit-text-stroke-color: white !important;
	}

  @media only screen and (max-width: 1024px) {
    .loader-div{
      position: absolute;
      right: 30%;
      bottom: 35px;
    }
  }
	@media only screen and (max-width: 912px) {
    .loader-div{
      position: absolute;
      right: 45%;
      bottom: 35px;
    }
		.fs-55{
			font-size: 47px !important;
		}
		.btn-purple {
	    width: 60%;
		}
		.top-head-deal:before {
	    right: 188px;
		}
		.w-radio {
    	width: 100%;
		}
	}


	@media only screen and (max-width: 768px) {
  	.bg-feature{
			background-image: none;
		}
		.btn-purple {
	    width: 60%;
		}
	}

	@media only screen and (max-width: 540px) {
    .input-energy{
      left: 0px;
    }
    .omForm-step__header-congrats{
      font-size: 21px !important;
    }
    .loader-div{
      position: absolute;
      right: 33%;
      bottom: 14px;
    }
		.input-radio{
	    min-width: 135px;
	  }
		.fs-sm-12{
			font-size: 12px !important;
			padding: 11px 0px !important;
		}
		.w-radio {
    	width: 49%;
		}
		.font-weight-bold {
	    font-weight: 500 !important;
		}
		.fs-sm-30{
			font-size: 30px !important
		}
		.top-head-deal:before {
	    right: 150px;
		}
		.fs-55{
			font-size: 30px !important;
		}
    .fs-49{
      font-size: 30px !important;
    }
  	#msform fieldset {
	    padding: 0px;
	    width: 100%;
	    margin: 0;
		}
		#progressbar {
	    margin-bottom: 0px;
	    padding: 0px !important;
		}
		.header-deal:before {
	    right: 140px;
		}
		.banner-phone{
			position: absolute;
	    left: -5px;
	    bottom: 0px;
		}
		.banner1-phone {
	    position: absolute;
	    left: -18px;
	    top: -41px;
		}
	}
  @media only screen and (max-width: 414px) {
    .loader-div{
      position: absolute;
      right: 25%;
      bottom: 14px;
    }
  }
  @media only screen and (max-width: 280px) {
    .w-radio {
      width: 68%;
    }
    .loader-div{
      position: absolute;
      right: 44%;
      bottom: 14px;
    }
  }
}
.header-logo {
  height: 11em;
  width: 38em
}
