<p class="small mb-0 accept-font">
  I agree to be contracted by a trusted debt solution provider by Telephone, Email, SMS. I am aware that the information submitted will be used to assess my situation in accordance with the <a data-bs-toggle="modal" data-bs-target="#termsModal"  class="text-decoration-none text-orng fw-bold" href="javascript:;">Terms </a> and <a data-bs-toggle="modal" data-bs-target="#privacyModal" class="text-decoration-none text-orng fw-bold" href="javascript:;">Privacy Policy</a>.
</p>
<%= render 'layouts/popup-terms'%>
<%= render 'layouts/popup-privacy'%>