<p class="small mb-0 accept-font">
  I agree to be contracted by a trusted debt solution provider by Telephone, Email, SMS. I am aware that the information submitted will be used to assess my situation in accordance with the Terms and Privacy Policy.
</p>
