<div class="bg-light-blu pt-4">
	<div class="container">
		<div class="row justify-content-center">
			<p class="small  mb-1">
				<a class="text-decoration-none text-orng" href="#">http://debtreport.org/</a>  provides information on solutions available to individuals seeking debt help. This is a free service.
			</p>
			<p class="small  mb-1">
				No advice is given by www.debtreport.org/ upon completion of a fact find you may be offered the options of a referral to an FCA Regulated firm where advice can be obtained, or to the free sector.
			</p>
			<p class="small  mb-1">
				For free, independent advice, you should refer to Money Helper via their website, <a class="text-decoration-none" href="#">https://www.moneyhelper.org.uk/en</a>
			</p>
			<p class="small  mb-1">
				There is no obligation to use our services, or the firms to which we may refer you, you can also use any other firms or services you may choose.
			</p>
			<p class="small">
				Debt Report does not charge fees for the information provided which are obligation-free. However, where we refer you to one of our partners, we may receive a referral fee. <a class="text-decoration-none" href="#">https://debtreport.org/</a> has no upfront or arrangement fees.
			</p>
		</div>
		<div class="row pb-3">
			<div class="col-md-6 text-center mb-4 mb-md-0">
				<div class="row align-items-center">
					<div class="col-md-12">
						<p class="text-orng text-md-start text-center mb-0 fw-light">© 2022 Debtreport.org</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 text-center align-self-center">
				<p class="text-orng text-center w-100 mb-0">
					<a target="_blank" class="text-decoration-none text-orng" href="/terms">Terms &amp; Conditions</a> | <a target="_blank" class="text-decoration-none text-orng" href="/privacy">Privacy Policy</a> | <a target="_blank" class="text-decoration-none text-orng" href="/cookie_policy">Cookies Policy</a>
				</p>
			</div>
		</div>
	</div>
</div>
