<div class="container">
	<div class="row align-items-center justify-content-center">
		<a class="text-center mt-3" href="/" ><%= image_tag('logo.png', class: 'logo-img header-logo')%></a>
	</div>
</div>
